name: POS Frontend Azure Deployment

on:
  push:
    branches: ["main"]
    paths:
      - 'PosFrontend/**'
      - '.github/workflows/deploy-frontend.yml'
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    environment: production

    steps:
      - uses: actions/checkout@v4

      - name: Setup environment variables
        run: |
          cd PosFrontend
          
          # Create .env.production file with secrets
          cat > .env.production << EOF
          NEXT_PUBLIC_API_BASE_URL=${{ vars.NEXT_PUBLIC_API_BASE_URL }}
          EOF

      - name: Login to container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ vars.CONTAINER_REGISTRY }}
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD }}

      - name: Build and push the Frontend Docker image
        run: |
          cd PosFrontend
          docker build . --target runner --platform linux/amd64 --file ./Dockerfile --tag ${{ vars.CONTAINER_REGISTRY }}/pos-frontend:latest --tag ${{ vars.CONTAINER_REGISTRY }}/pos-frontend:${{ github.sha }}
          docker push ${{ vars.CONTAINER_REGISTRY }}/pos-frontend:latest
          docker push ${{ vars.CONTAINER_REGISTRY }}/pos-frontend:${{ github.sha }}

  deploy:
    needs: build
    runs-on: ubuntu-latest
    environment: production
    
    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set Azure Subscription
        run: |
          az account set --subscription ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      - name: Deploy Frontend Container Application
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az config set extension.use_dynamic_install=yes_without_prompt
            az containerapp registry set -n ${{ vars.FRONTEND_CONTAINER_APP_NAME }} -g ${{ vars.RESOURCE_GROUP }} --server ${{ vars.CONTAINER_REGISTRY }} --username  ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME }} --password ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD }}
            az containerapp update -n ${{ vars.FRONTEND_CONTAINER_APP_NAME }} -g ${{ vars.RESOURCE_GROUP }} --image ${{ vars.CONTAINER_REGISTRY }}/pos-frontend:${{ github.sha }}

      - name: Restart Container App
        uses: azure/cli@v2
        with:
          azcliversion: latest
          inlineScript: |
            az containerapp revision restart -n ${{ vars.FRONTEND_CONTAINER_APP_NAME }} -g ${{ vars.RESOURCE_GROUP }}
